ASPNETCORE_URLS="https://+;http://+" 
ASPNETCORE_HTTPS_PORT=9003 
ASPNETCORE_Kestrel__Certificates__Default__Password=12345678
ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
ASPNETCORE_ENVIRONMENT=Production
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
AWS__Profile=default
AWS__Region=us-west-2
Queue__Url=https://sqs.us-west-2.amazonaws.com/1331NUMBER/teste-fifo.fifo
Queue__Fifo=true