AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
ASPNETCORE_ENVIRONMENT=Production
AWS__Profile=default
AWS__Region=us-west-2
Queue__Url=https://sqs.us-west-2.amazonaws.com/1331NUMBER/teste-fifo.fifo
Queue__Fifo=true