AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
DOTNET_ENVIRONMENT=Production
AWS__Profile=default
AWS__Region=us-west-2
Queue__Url=https://sqs.us-west-2.amazonaws.com/13319NUMBER/teste-fifo.fifo
Queue__UrlDlq=https://sqs.us-west-2.amazonaws.com/13319NUMBER/teste-fifo-dlq.fifo
Queue__Fifo=true
PostgresSettings__Host=db
PostgresSettings__Port=5432
PostgresSettings__Username=postgres
PostgresSettings__Password=postgres
PostgresSettings__Database=postgres
DynamoDbTable=mensagens